html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, audio, canvas, details, figcaption, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, summary, time, video {
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0; }

body {
  line-height: 1; }

article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote {
  display: block; }

nav ul {
  list-style: none; }

ol {
  list-style: decimal; }

ul {
  list-style: disc; }

ul ul {
  list-style: circle; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

ins {
  text-decoration: underline; }

del {
  text-decoration: line-through; }

mark {
  background: none; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input[type=submit], input[type=button], button {
  margin: 0 !important;
  padding: 0 !important; }

input, select, a img {
  vertical-align: middle; }

/* general */
body {
  background: white;
  color: black;
  text-align: center;
  font-family: Helvetica,arial,sans-serif;
  font-size: 12px; }

/* layout */
h1 {
  display: none; }

nav {
  position: fixed;
  left: 0;
  top: 30px;
  width: 100%;
  background: black; }
  nav div {
    margin: 0 auto;
    text-align: left;
    width: 100%;
    max-width: 1200px;
    position: relative;
    left: 0;
    top: 0;
    height: 40px; }
    nav div a {
      color: white;
      text-decoration: none; }
    nav div h2,
    nav div ul {
      position: absolute;
      top: 0; }
    nav div h2 {
      color: white;
      position: absolute;
      left: 0;
      width: 200px;
      height: 40px;
      line-height: 40px; }
    nav div ul {
      left: 200px;
      list-style: none; }
      nav div ul li {
        float: left; }
        nav div ul li a {
          margin-right: 40px;
          text-transform: uppercase; }
      nav div ul li,
      nav div ul li a {
        display: inline-block;
        height: 40px;
        line-height: 40px; }

section#main {
  overflow: auto;
  margin-top: 70px;
  width: 100%; }
  section#main div.page {
    text-align: left;
    overflow: auto;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px; }
    section#main div.page h2 {
      height: 40px;
      line-height: 40px;
      font-size: 20px;
      padding-left: 10px; }
    section#main div.page div.squares {
      width: 100%; }
      section#main div.page div.squares div.sq {
        float: left;
        width: 25%;
        text-align: center; }
        section#main div.page div.squares div.sq a {
          display: block;
          margin: 0 auto;
          width: 100%; }
          section#main div.page div.squares div.sq a img {
            padding-bottom: 10%;
            width: 90%; }
    section#main div.page div.video-holder,
    section#main div.page p {
      margin: 0 0 20px 0; }

div#debug {
  clear: both;
  background: #ccc;
  border-top: 2px solid #999;
  padding: 20px; }
